html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* tables */
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
        background-color: #0c6efd;
        color: white;
        text-align: left;
        font-weight: bold;
}

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

/*    .content-table tbody tr {
        border-bottom: 1px solid gray;
        &:hover {
    background-color: rgb(231, 231, 231);
  }
                }*/

/*    .content-table tbody tr:nth-of-type(even) {
        background-color: #0c6cfd33;
        &:hover

{
    background-color: rgb(231, 231, 231);
}

}*/

.content-table tbody tr:last-of-type {
    border-bottom: 4px solid #0c6efd;
}

@media (max-width: 750px) {
    th {
        display: none;
    }

    td {
        display: block;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
    }

        td::before {
            content: attr(data-cell) ": ";
            font-weight: bold;
        }
}